@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #44403c;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
	background: #78716c;
}

html {
  background-color: #44403c;
}